PORT=8000
MONGO_URI=mongodb+srv://your_name:your_password@cluster0.pp2u02p.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=your-secret-key
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your-secret-key
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_CLOUD_NAME=my-cloud
CLOUDINARY_API_KEY=my-key
CLOUDINARY_API_SECRET=my-secret